@model Person
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-8">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">About Me</h5>

        <!-- Blog -->
        <section class="about-me padding-top-10 padding-bottom-50">

            <!-- Personal Info -->
            <ul class="personal-info">
                <li>
                    <p> <span> Name</span> @Model.Name</p>
                </li>
                <li>
                    <p> <span> Age</span> 38 Years </p>
                </li>
                <li>
                    <p> <span> Location</span> @Model.Location </p>
                </li>
                <li>
                    <p> <span> Experience</span> @Model.ExperienceInfo Years </p>
                </li>
                <li>
                    <p> <span> Degree</span> @Model.Degree.Name </p>
                </li>
                <li>
                    <p> <span> Career Level</span> @Model.CareerLevel.Name </p>
                </li>
                <li>
                    <p> <span> Phone</span> @Model.Phone </p>
                </li>
                <li>
                    <p> <span> FAX</span> @Model.Fax </p>
                </li>
                <li>
                    <p> <span> E-mail</span> <a href="#."> @Model.Email</a> </p>
                </li>
                <li>
                    <p> <span> Website</span><a href="#."> @Model.Website </a></p>
                </li>
            </ul>

            <!-- I’m Web Designer -->
            <h5 class="tittle">@Model.Info</h5>
            <div class="padding-20">
                @Html.Raw(Model.Description);
            </div>

            <h5 class="tittle">Services</h5>
            <div class="row padding-20 margin-top-50">
                @foreach (var item in Model.Services)
                {
                    <div class="col-md-4 text-center">
                        <div class="icon-box i-large ib-black">
                            <div class="ib-icon"> <i class="@item.Service.IconClass"></i> </div>
                              <div class="ib-info">
                                  <h4 class="h6">@item.Service.Name</h4>
                                  <p>@item.Service.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Skills -->
            <h5 class="tittle">Skills</h5>

            <!-- Sound Engineering -->
            <div class="panel-group accordion padding-20" id="accordion">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- PANEL HEADING -->
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"> Photoshop</a> </h4>
                            </div>
                        </div>

                        <!-- Skillls Bars -->
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <!-- Skillls Text -->
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Business Administration -->

                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- PANEL HEADING -->
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" class="collapsed"> Dreamviewer</a> </h4>
                            </div>
                        </div>

                        <!-- Skillls Bars -->
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <!-- Skillls Text -->
                            <div id="collapsetwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HTML -->
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- PANEL HEADING -->
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" class="collapsed"> HTML5/CSS3</a> </h4>
                            </div>
                        </div>

                        <!-- Skillls Bars -->
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only">60% Complete</span> </div>
                            </div>

                            <!-- Skillls Text -->
                            <div id="collapsethree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>